# NumPy Tutorial

## Import Requirements

In [50]:
import numpy as np

### Ndarray Object

- A collection of items of the same type
- Zero-based indexing
- All elements in an ndarray must be the same dtype
- Create an ndarray using np.array()

In [51]:
# Example 1: 1D array
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [52]:
# Example 2: 2D array
b = np.array([[1, 2], [3, 4]])
b

array([[1, 2],
       [3, 4]])

### Array Attributes

In [37]:
# Example 1: Shape of array
c = np.array([[1, 2, 3], [4, 5, 6]])
print(f"Array: \n{c}")
print("")
print(f"Shape: \n{c.shape}")

Array:
[[1 2 3]
 [4 5 6]]

Shape:
(2, 3)

In [38]:
# Example 2: Resize using .shape
c.shape = (3, 2)
c

array([[1, 2],
       [3, 4],
       [5, 6]])

In [40]:
# Example 3: Reshape using .reshape
c = np.array([[1, 2, 3], [4, 5, 6]])
c.reshape(2, 3)
c

array([[1, 2, 3],
       [4, 5, 6]])

In [41]:
# Example 4: Create array using .arange
d = np.arange(24)
d

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [42]:
# Example 5: Find number of dimensions using .ndim
d.ndim

1

In [43]:
# Example 6: Reshape the above array using .reshape
e = d.reshape(2, 4, 3)
e

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17],
        [18, 19, 20],
        [21, 22, 23]]])

### Creating Arrays

In [45]:
# Example 1: Creating an uninitialized array with specified shape and dtype using .empty
f = np.empty([2, 3], dtype = float)
f  # It was given random values because we havent provided any values yet

array([[0., 0., 0.],
       [0., 0., 0.]])

In [47]:
# Example 2: Create an array of zeros with a specified size using .zeros
g = np.zeros([4, 4], dtype = int)
g

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [48]:
# Example 3: Create an array of ones with a specified size using .ones
h = np.ones([2, 2], dtype = int)
h

array([[1, 1],
       [1, 1]])

### Creating Arrays from Existing Data

- np.asarray and np.array are very similar
- np.asarray has fewer parameters and is best suited for converting exisitng Python sequences into ndarrays

In [53]:
# Example 1: Convert a list to an array using .asarray
i = [1, 2, 3]
j = np.asarray(i)
j

array([1, 2, 3])

In [54]:
# Example 2: Convert a list to an array with specific dtype using .asarray
i = [1, 2, 3]
k = np.asarray(i, dtype = float)
k

array([1., 2., 3.])

In [55]:
# Example 3: Convert a tuple to an array using .asarray
l = (1, 2, 3)
m = np.asarray(l)
m

array([1, 2, 3])

In [56]:
# Example 4: Convert a list of tuples to an array using .asarray
n = [(1, 2, 3), (4, 5, 6)]
o = np.asarray(n)
o

array([[1, 2, 3],
       [4, 5, 6]])

### Creating Arrays from Numerical Ranges

In [58]:
# Example 1: Create an array using .arange
p = np.arange(5)
p

array([0, 1, 2, 3, 4])

In [59]:
# Example 2: Create an array with specific dtype using .arange
q = np.arange(5, dtype = float)
q

array([0., 1., 2., 3., 4.])

In [61]:
# Example 3: Create an array with specific start point, stop point, and step size using .arange
r = np.arange(10, 20, 2)
r

array([10, 12, 14, 16, 18])

In [62]:
# Example 4: Create an array with a specified number of evenly spaced values using .linspace
s = np.linspace(10, 20, 5)  # This will create 5 values between 10 and 20 (inclusive) that are evenly spaced from each other
s

array([10. , 12.5, 15. , 17.5, 20. ])

In [64]:
# Example 5: Create an array with a specified number of evenly spaced values, not inclusive, using .linspace
t = np.linspace(10, 20, 5, endpoint = False)
t

array([10., 12., 14., 16., 18.])

In [65]:
# Example 6: Create an array with specified number of evenly spaced values and include the step size using .linspace
u = np.linspace(10, 20, 5, retstep = True)
u

(array([10. , 12.5, 15. , 17.5, 20. ]), 2.5)

In [66]:
# Example 7: Create an array with evenly spaced values on a log scale using .logspace
v = np.logspace(1, 10, num = 10, base = 10)
v

array([1.e+01, 1.e+02, 1.e+03, 1.e+04, 1.e+05, 1.e+06, 1.e+07, 1.e+08,
       1.e+09, 1.e+10])